body{
    background-color: antiquewhite;
    background-image:src= https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTfWOLCRcy6cO4cPHdJHvKIZFOHAKtNbsJFA&usqp=CAU
}

.class{
color:red; font-size: xx-large;
}